.ModalForm .title {
  font-size: 20px;
  color: white;
  padding: 0.5rem;
  background-color: #1976d2;
  margin: 0 0 1rem 0;
}

.ModalForm .footer {
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  justify-content: space-between;
}
