.PersistentDrawer .MuiToolbar-root {
  justify-content: space-between;
}

.PersistentDrawer .Add_a_new_vehicle {
  color: white;
  border: 1px solid white;
}

.PersistentDrawer .search {
  background-color: white;
  margin: 1rem 1rem;
}

.PersistentDrawer .input_search {
  margin: 1rem;
  background-color: white;
  padding: 0 0 0 0.5rem;
}

.PersistentDrawer .CircularProgress-Wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
}
